/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #030708;
  font-family: "Inter", sans-serif;
  color: #cbd6d9;
  overflow-x: hidden;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.05);
}

/* BUTTON GLOW */
button:hover {
  filter: brightness(1.15);
}

/* PLACEHOLDER STYLE */
::placeholder {
  color: #6b7b80;
}

/* INPUT FOCUS */
input:focus {
  border-color: #0ef1c7;
  box-shadow: 0 0 6px rgba(14,241,199,0.4);
}
